
    <script>
      var links = [
"ww1-picture",
"william-henry-bates",
"harry-binding",
"sidney-blencowe",
"william-james-callow",
"george-moore-day",
"arthur-john-lake",
"john-henry-payne",
"william-frederick-robbins",
"william-robert-robbins",
"kenneth-sutherland-rudd",
"frederick-henry-sweetman",
"william-john-sweetman",
"aubrey-ernest-westbury",
"walter-thomas-westbury",
"william-henry-westbury",
"george-cleaver",
"arthur-parker",
"aubrey-j-finch",
"william-george-paintin"
      ]
      ;
var i = 0;
var renew = setInterval(function(){
    document.getElementById(links[i]).style.display="none";        
     i++;
    if(links.length == i){
        i = 0;
    }
    document.getElementById(links[i]).style.display="block";            
},6000);
</script>

    
<div style="clear:both;height:15rem;overflow-y:scroll; border: solid thick black;">

<img id="ww1-picture" alt="ww1" src="https://lh3.googleusercontent.com/YvWbE2Dj5OPEEjLr21AggHuSBlGAMUtkROUOHBx9rN6cjNAxvJETNLfG6NiI8E9dztUhNzQv3GqPrlksHdwj0hWTYJDZ8dm9vNR_AqXvfcxftW2LOn2mc2SHT_elB1I49XbfuU7IHknie0ihjLgsOFyPEV7D_xJ4AbagA19kHJ14TH5FNx2jZxxtPDbs-b_gNExIJ3IpvH2PUreIOHzaD3DSHe4XlVYWIhJKW_6dN0LkLcd3am9z8vYzlZ01YPfvcLwuoie3T5s0GIKPHRk6bSvIqdVlDDX83TJokwvg7v7beg5EemEVeq9RIwaYWlt8S-7IWHYHSoQOEXmFIyTMdj4rwaWHuPAZWlkflsG7tjD6OsdN899Ox7duM0mjXb1gTS4ztS2n7BqIXGO-wUK8CPt6fUh8jmntPtv5ElVops6D659XEsKex8wRrPdEJaMbfPIEUkVWJe76Tn59Tg5WbDaW2ht8qm4HEhP77v0a2giA2HAeMUDQIAj8-jXnhCziywkOQn3DaREB6gQjz3RCXhzziib8ZIdWzzn7Cprp3J8sRktcjp_-ystwuKrehDAmT08_O2JT_CDOkd0EsniwSYD3Z5g0-71v7sRxMA9AYkHqaynMjqAJeuZy_YZUKmruP9xBWc9jZJNLbJVhZf8Js8tmO01L7WgRJ2vGhcCYiE_x-3PVC1LRx3XN3ejEC_OZ4ggGpy1ICsNGDiaVjMRBZVKSE_jphkBl82U6=w1166-h875-no" style="display:block;margin:auto;" height="100%">
<div style="display:none;" id='william-henry-bates'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William Henry BATES</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918" style="width:25%;text-align:left;float:left"> </a>
<a href="/history/memorial-1914-1918/harry-binding" style="width:25%;text-align:right;float:right">Harry BINDING</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-HENRY-BATES">WILLIAM HENRY BATES</h2>
<p>Corporal, C Company, 3rd Battalion, The Worcestershire
Regiment, 57 Brigade, 19th Division.  Army no. 207283</p>
<p>
He was killed in action on 27 May 1918 in what became the final push of the war. He was 23
He was the son of Joseph and Emma Mary Bates, West End, Souldern
He is buried in grave I D 1 Marfaux British Cemetery near Reims.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Souldern<br />
Residence: Souldern<br />
Enlistment Location: Oxford</p>
-->
</div>

</div>
<div style="display:none;" id='harry-binding'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Harry BINDING</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/william-henry-bates" style="width:25%;text-align:left;float:left">William Henry BATES</a>
<a href="/history/memorial-1914-1918/sidney-blencowe" style="width:25%;text-align:right;float:right">Sidney BLENCOWE</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-HARRY-BINDING">HARRY BINDING</h2>
<p>Private, 2nd/5th Battalion, The Manchester Regiment, 199  Brigade, 66th Division. Army no. 202605</p>
<p>He was killed in action on 8 October 1917 in the third Battle of Ypres. He was 26
He was the son of John Binding, 671 Sixth Street, Trafford Park, Manchester.
He is remembered on panel 120-124 and 162-162A and 163A of the Tyne Cot Memorial</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Buxton, Derby<br />
Residence: Trafford Park, Manchester<br />
Enlistment Location: Ashton-under-lyne</p>
-->
</div>

</div>
<div style="display:none;" id='sidney-blencowe'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Sidney BLENCOWE</span>
</h3>

<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/harry-binding" style="width:25%;text-align:left;float:left">Harry BINDING</a>
<a href="/history/memorial-1914-1918/william-james-callow" style="width:25%;text-align:right;float:right">William James CALLOW</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-SIDNEY-BLENCOWE">SIDNEY BLENCOWE</h2>
<p>Private, 23rd Battalion, Australian Infantry, Australian
Imperial Force.  Army no. 5553</p>
<p>He was killed in action on 3 May 1917 during the second battle of Bullecourt, the Somme. He was 34
He was the son of Michael and Sarah Blencowe and the husband of Louisa Ruth Blencowe
He is remembered on Villers-Bretonneux Memorial</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-information">Additional information</h3>
<p>In the 1891 Census he was living in Souldern but moved later to Kings Norton
Sidney and his brother, Austin, migrated to Sydney in 1914 followed by wife Louisa and one son. The family settled in Melbourne and Sidney was a labourer before enlisting
in 1916. He was Killed in action 3 May 1917  (the first day of the second battle of Bullecourt, two weeks of bitter trench fighting which eventually, and at the cost of 2,250 Australian casualties, cleared and held part of the Hindenburg Line.)
From the history of the 23rd “This, toughest of all propositions since Pozières, was tackled on May 3rd, the 6th Brigade forming the centre pivot, with a British Division on our left, and the 5th Brigade on the right flank. It was there the Battalion distinguished itself by its dash and determination to break the famous Siegfried line. The feat was accomplished, and for a time the boys hung on to the position with a tenacity that neither our severe losses, the enemy's artillery or infantry could break. The work of the officers and men throughout was splendid, and the behaviour of the reinforcements, who had joined up the day previous, showed they were made of
good material. To many it was their first and last fight."</p>
<p>More information is available at <a href="http://blencowesww1.blogspot.co.uk/2013/07/sidney-blencowe-1882-1917.html">http://blencowesww1.blogspot.co.uk/2013/07/sidney-blencowe-1882-1917.html</a>.</p>
-->
</div>

</div>


<div style="display:none;" id='william-james-callow'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William James CALLOW</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/sidney-blencowe" style="width:25%;text-align:left;float:left">Sidney BLENCOWE</a>
<a href="/history/memorial-1914-1918/george-moore-day" style="width:25%;text-align:right;float:right">George Moore DAY</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-JAMES-CALLOW">WILLIAM JAMES CALLOW</h2>
<p>Private, 2nd/4th Battalion, The Oxfordshire and
Buckinghamshire Light Infantry, 184 Brigade, 61st Division. Army no. 240310</p>
<p>He was killed in action on 22 August 1917 in the fighting around Ypres. He was 27
He was the husband of Florence Phoebe Callow, Chapel Row,
Souldern.
He is remembered on panel 96 to 98 of the Tyne Cot
Memorial.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Residence: Souldern<br />
Enlistment Location: Oxford</p>
-->
</div>
</div>

<div style="display:none;" id='george-moore-day'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">George Moore DAY</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/william-james-callow" style="width:25%;text-align:left;float:left">William James CALLOW</a>
<a href="/history/memorial-1914-1918/arthur-john-lake" style="width:25%;text-align:right;float:right">Arthur John LAKE</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-GEORGE-MOORE-DAY">GEORGE MOORE DAY</h2>
<p>Stoker, 2nd Class, HMS Laforey, Royal Navy. RN no.
K/37983</p>
<p>He was killed at sea on 23 March 1917. He was 36.
He was the son of Thomas William and Elizabeth Day of Souldern
He is remembered on panel 24 of the Chatham Naval Memorial.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>During 1917, operations in the English Channel became more dangerous as enemy units became more adventurous in their operations against the link between Britain and France. Just four days before Laforey was lost, a raid by German destroyers sank the destroyer HMS Paragon with all but 10 hands. On 23 March 1917, HMS Laforey and her sister ship, HMS Laertes were escorting several cargo ships to France,
using the Folkstone to Boulogne route. The merchant ships arrived safely, but at around 16:30 hours and after the destroyers had begun the return trip, a large explosion occurred amidships on HMS Laforey. The ship immediately broke in half, and the stern sank rapidly. The bow remained afloat for a short time, during which HMS Laertes struggled to rescue survivors. Only 18 of the 77 aboard survived.</p>
-->
</div>
</div>

<div style="display:none;" id='arthur-john-lake'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Arthur John LAKE</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/george-moore-day" style="width:25%;text-align:left;float:left">George Moore DAY</a>
<a href="/history/memorial-1914-1918/john-henry-payne" style="width:25%;text-align:right;float:right">John Henry PAYNE</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-ARTHUR-JOHN-LAKE">ARTHUR JOHN LAKE</h2>
<p>Private, 9th Battalion, The Worcestershire Regiment, 39
Brigade, 13th Division. Army no. 27547</p>
<p>He was killed in action on 25 January 1917 attacking the Hai Salient during the Battle of Kut al Imara. He was 19
He was the son of Stephen and Esther E Lake
He is buried in grave XVIII C 3 Amara War Cemetery</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Souldern<br />
Residence: Souldern<br />
Enlistment Location: Birmingham</p>
-->
</div>
</div>

<div style="display:none;" id='john-henry-payne'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">John Henry PAYNE</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/arthur-john-lake" style="width:25%;text-align:left;float:left">Arthur John LAKE</a>
<a href="/history/memorial-1914-1918/william-frederick-robbins" style="width:25%;text-align:right;float:right">William Frederick ROBBINS</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-JOHN-HENRY-PAYNE">JOHN HENRY PAYNE</h2>
<p>Private, 1st Battalion, The Oxfordshire and Buckinghamshire Light Infantry, 17 Brigade, 6th (Poona) Division.  Army no. 9076</p>
<p>He was killed in action on 22 November 1915. He was 25
He was the son of the late James and of Sarah Payne of Souldern
He is remembered on panel 26 and 63 of the Basra Memorial</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Drayton<br />
Enlistment Location: Banbury<br />
He was a Regular soldier.</p>
-->
</div>
</div>

<div style="display:none;" id='william-frederick-robbins'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William Frederick ROBBINS</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/john-henry-payne" style="width:25%;text-align:left;float:left">John Henry PAYNE</a>
<a href="/history/memorial-1914-1918/william-robert-robbins" style="width:25%;text-align:right;float:right">William Robert ROBBINS</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-FREDERICK-ROBBINS">WILLIAM FREDERICK ROBBINS</h2>
<p>Corporal, 7th Battalion, The Oxfordshire and
Buckinghamshire Light Infantry, 78 Brigade, 26th Division.  Army no. 21257</p>
<p>He was killed in action on 8 May 1917 during the Battle of Doiran. He was 29
He was the son of Joseph and Mary Robbins of Oxford and the husband of Ethel Alice Robbins, 3 Tichborne Row, Paddington.
He is remembered on the Doiran Memorial, Macedonia.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Oxford<br />
Residence: London<br />
Enlistment Location: Oxford</p>
-->
</div>
</div>

<div style="display:none;" id='william-robert-robbins'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William Robert ROBBINS</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/william-frederick-robbins" style="width:25%;text-align:left;float:left">William Frederick ROBBINS</a>
<a href="/history/memorial-1914-1918/kenneth-sutherland-rudd" style="width:25%;text-align:right;float:right">Kenneth Sutherland RUDD</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-ROBERT-ROBBINS">WILLIAM ROBERT ROBBINS</h2>
<p>Private, 1st/4th Battalion, The Oxfordshire and
Buckinghamshire Light Infantry, 145 Brigade, 48th Division.  Army no. 203330. He was formerly with the Queen’s Own Oxfordshire Hussars, Army no. 2561</p>
<p>He was killed in action on 15 June 1918 in the Battle of the Piave, fighting on the Asiago Plateau. He was 19
He was the son of Frederick and Fanny Robbins of Souldern
He is buried in plot 3 row A grave 14 Boscon British Cemetery, Italy.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Souldern<br />
Residence: Souldern<br />
Enlistment Location: Oxford</p>
-->
</div>
</div>

<div style="display:none;" id='kenneth-sutherland-rudd'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Kenneth Sutherland RUDD</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/william-robert-robbins" style="width:25%;text-align:left;float:left">William Robert ROBBINS</a>
<a href="/history/memorial-1914-1918/frederick-henry-sweetman" style="width:25%;text-align:right;float:right">Frederick Henry SWEETMAN</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-KENNETH-SUTHERLAND-RUDD">KENNETH SUTHERLAND RUDD</h2>
<p>Captain, 10th Battalion, The Prince of Wales’s Own
(West Yorkshire Regiment), 50 Brigade, 17th Division.</p>
<p>He was killed in action on 10 October 1918 during the Allied pursuit to the Selle. He was 24
He was the son of the late Rev Prebendary Eric J S Rudd of Souldern and of Edyth T H Rudd, Whitehall, Goodrich, Ross, Herefordshire
He is buried in grave II F 17 Caudry British Cemetery.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>The plaque states that he is buried at Audencourt, near Cambrai. Subsequently those interred in Audencourt have been moved to Caudry.</p>
-->
</div>
</div>

<div style="display:none;" id='frederick-henry-sweetman'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Frederick Henry SWEETMAN</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/kenneth-sutherland-rudd" style="width:25%;text-align:left;float:left">Kenneth Sutherland RUDD</a>
<a href="/history/memorial-1914-1918/william-john-sweetman" style="width:25%;text-align:right;float:right">William John SWEETMAN</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-FREDERICK-HENRY-SWEETMAN">FREDERICK HENRY SWEETMAN</h2>
<p>Private, 2nd Battalion, The Oxfordshire and
Buckinghamshire Light Infantry, 5 Brigade, 2nd Division.  Army no. 25850</p>
<p>He died of his wounds on 30 April 1917 probably received at the Battle of Arleux. He was 36
He was the son of the late George and of Elizabeth
Sweetman and the husband of Sarah Sweetman of Souldern
He is buried in grave II J 34 Aubigny Communal Cemetery Extension.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Solgrave<br />
Residence: Souldern<br />
Enlistment Location: Banbury<br />
The town of Aubigny was a hospital centre</p>
-->
</div>
</div>

<div style="display:none;" id='william-john-sweetman'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William John SWEETMAN</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/frederick-henry-sweetman" style="width:25%;text-align:left;float:left">Frederick Henry SWEETMAN</a>
<a href="/history/memorial-1914-1918/aubrey-ernest-westbury" style="width:25%;text-align:right;float:right">Aubrey Ernest WESTBURY</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-JOHN-SWEETMAN">WILLIAM JOHN SWEETMAN</h2>
<p>Private, 2nd Battalion, The Oxfordshire and
Buckinghamshire Light Infantry, 5 Brigade, 2nd Division.  Army no. 18465</p>
<p>He was killed in action on 30 July 1916 in the fighting on the Somme. He was 18
He was the grandson of Elizabeth Swetman, The Green, Souldern
He is remembered on pier and face 10A and 10D of the Thiepval Memorial.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Residence: Souldren<br />
Enlistment Location: Oxford</p>
-->
</div>
</div>

<div style="display:none;" id='aubrey-ernest-westbury'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Aubrey Ernest WESTBURY</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/william-john-sweetman" style="width:25%;text-align:left;float:left">William John SWEETMAN</a>
<a href="/history/memorial-1914-1918/walter-thomas-westbury" style="width:25%;text-align:right;float:right">Walter Thomas WESTBURY</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-AUBREY-ERNEST-WESTBURY">AUBREY ERNEST WESTBURY</h2>
<p>Private, 16th Battalion, The Duke of Cambridge's Own (Middlesex Regiment), 86 Brigade, 29th Division. Army no
G/25256</p>
<p>He was killed in action on 12 August 1916. He was 38
He was the son of Thomas and Mary Westbury
He is buried in Enclosure No. 2 IV C 28 Bedford House Cemetery.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Souldern<br />
Residence: Stonebridge, Middlesex<br />
Enlistment Location: Harlesden, Middlesex</p>
-->
</div>
</div>

<div style="display:none;" id='walter-thomas-westbury'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Walter Thomas WESTBURY</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/aubrey-ernest-westbury" style="width:25%;text-align:left;float:left">Aubrey Ernest WESTBURY</a>
<a href="/history/memorial-1914-1918/william-henry-westbury" style="width:25%;text-align:right;float:right">William Henry WESTBURY</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WALTER-THOMAS-WESTBURY">WALTER THOMAS WESTBURY</h2>
<p>Private, 2nd Battalion, The Oxfordshire and
Buckinghamshire Light Infantry, 5 Brigade, 2nd Division.  Army no. 18149</p>
<p>He was killed in action on 31 July 1916 in the fighting around Delville Wood. He was 18
He was the son of Frederick and Sarah Westbury, The Green,
Souldern
He is buried in plot 2 row A grave 1 Corbie Communal Cemetery Extension.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Souldern<br />
Residence: Souldern<br />
Enlistment Location: Oxford</p>
-->
</div>
</div>

<div style="display:none;" id='william-henry-westbury'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William Henry WESTBURY</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/walter-thomas-westbury" style="width:25%;text-align:left;float:left">Walter Thomas WESTBURY</a>
<a href="/history/memorial-1914-1918/george-cleaver" style="width:25%;text-align:right;float:right">George CLEAVER</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-HENRY-WESTBURY">WILLIAM HENRY WESTBURY</h2>
<p>Lance Corporal, 12th Battalion, Royal Fusiliers (City of London Regiment), 17 Brigade, 24 Division. Army no. 50502. He was
formerly with 2nd Battalion, the Royal Fusiliers (City of London Regiment) (Kensington). Army no. 176</p>
<p>He was killed in action on 26 January 1917. He was 36
He is remembered on panel 25 to 27 of the Loos Memorial.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-information">Additional information</h3>
<p>Birth place: Souldern<br />
Residence: Souldern<br />
Enlistment Location: Shepherd’s Bush</p>
-->
</div>
</div>

<div style="display:none;" id='george-cleaver'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">George CLEAVER</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/william-henry-westbury" style="width:25%;text-align:left;float:left">William Henry WESTBURY</a>
<a href="/history/memorial-1914-1918/arthur-parker" style="width:25%;text-align:right;float:right">Arthur PARKER</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-GEORGE-CLEAVER">GEORGE CLEAVER</h2>
<p>Private, 1st/4th Battalion, The Oxfordshire and
Buckinghamshire Light Infantry.  Army no. 1878</p>
<p>He died on 19 September 1915.
He is buried in the Churchyard of St Mary the Virgin,
Souldern.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>He had served in France landing there on 25 June 1915.</p>
-->
</div>
</div>

<div style="display:none;" id='arthur-parker'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Arthur PARKER</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1914-1918/george-cleaver" style="width:25%;text-align:left;float:left">George CLEAVER</a>
<a href="/history/memorial-1914-1918/references" style="width:25%;text-align:right;float:right">References</a>
<a href="/history/memorial-1914-1918">Memorial 1914–18</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-ARTHUR-PARKER">ARTHUR PARKER</h2>
<p>Private, D Company, 12th (Service) Battalion, The Hampshire
Regiment. Army no. 13600. He was formerly with Royal Warwickshire Regiment, Army no. 7239.</p>
<p>He died on 24 December 1914. He was 48
He was the husband of Hephzibah Parker, Priors Marston, Byfield, Northants
He is buried in grave 3 1231 Worting Road Cemetery, Basingstoke.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>Birth Place: Souldern<br />
Residence: Priors Marston, Warwick<br />
Enlistment Location: Rugby</p>
-->
</div>
</div>

<div style="display:none;" id='aubrey-j-finch'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Aubrey J FINCH</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1939-1945" style="width:25%;text-align:left;float:left"> </a>
<a href="/history/memorial-1939-1945/william-george-paintin" style="width:25%;text-align:right;float:right">William George PAINTIN</a>
<a href="/history/memorial-1939-1945">Memorial 1939–45</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-AUBREY-J-FINCH">AUBREY J FINCH</h2>
<p>Private 2nd (Airborne) The Oxfordshire and Buckinghamshire
Light Infantry. Army no. 5388610</p>
<p>He died in action on 24 March 1945. He was 28
He is buried in grave 36 B 9 Reichswald Forest War Cemetery.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>The 2nd (Airborne) The Oxfordshire and Buckinghamshire Light Infantry (2 OBLI) were once again involved in a glider-borne air assault landing, known as Operation Varsity, the objective of which was to cross the Rhine. The Germans were defending their last great natural barrier in the West and Operation Varsity which began on 24 March 1945 was the last major battle on the Western Front during WW2.
2 OBLI landed further east than any other British Army unit to capture bridges from the Germans. The battalion, like many others during the assault, suffered heavily as the Germans met the landing gliders with ferocious fire, suffering hundreds of casualties.
The battalion's objective was to capture the line of the River Issel northwest of Hamminkeln. This included the Hamminkeln-Ringenburg road bridge, the railway bridge, Hamminkeln
railway station and the road junction to the west. On 19 March the battalion moved to Birch camp, RAF Birch, near Colchester. 2 OBLI took off from Birch and Gosfield airfields at 06.30hrs on 24 March and the gliders moved southwards over
the North Sea, then east over Brussels and landed in Hamminkeln area at about 10.00hrs. Each company was designated a landing zone in the area of its objective. At Hamminkeln the gliders flew into a barrage of anti-aircraft fire; there were 4 enemy anti-aircraft guns gun-pits positioned near Hamminkeln station. During the landing which took only 10 minutes to complete there was thick smoke and dust from the area of Wesel and many of the gliders were on fire
and there were many casualties.
2 OBLI casualties included 103 killed during the battle of the landing area. The battalion had lost half its strength, the 4
rifle companies were severely depleted and non-commissioned officers were frequently required to act as platoon commanders. The battalion saw very heavy fighting at Hamminkeln, where its objectives were the railway station and
bridges over the River Issel between Hamminkeln and Ringenburg. Lieutenant Hugh Clark led a bayonet charge to take a road bridge for which he was awarded a Military Cross. CSM John Stevenson was awarded the Distinguished Conduct Medal for defeating several enemy attacks with a platoon he commanded on the east bank of the River Issel. 2 OBLI captured and held all its objectives. The Germans launched a number of counter-attacks, all of which were repelled. At midnight on 25 March the Cameronians (Scottish Rifles) relieved the battalion and by 06.00hrs on 26 March the unit was based in a farm on the west side of Hamminkeln. Later that morning 2 OBLI were informed that 6th Airborne Division
would lead the advance across Germany.</p>
-->
</div>
</div>

<div style="display:none;" id='william-george-paintin'>
<h3 id="sites-page-title-header" style="display: none;" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">William George PAINTIN</span>
</h3>
<div style="text-indent:0em;font-size:75%;text-align:center;background-color:rgb(222,237,237)">
<a href="/history/memorial-1939-1945/aubrey-j-finch" style="width:25%;text-align:left;float:left">Aubrey J FINCH</a>
<a href="/history/memorial-1939-1945/references" style="width:25%;text-align:right;float:right">References</a>
<a href="/history/memorial-1939-1945">Memorial 1939–45</a>
<div style="clear:both"></div>
</div>
<div style="max-width:40em;text-align:justify;font-family:serif;margin-left:auto;margin-right:auto">
<h2 style="text-indent:0em;text-align:center" id="TOC-WILLIAM-GEORGE-PAINTIN">WILLIAM GEORGE PAINTIN</h2>
<p>Canteen Manager HMS Hartland Royal Naval RN no. C/NX 207</p>
<p>He died on 8 November 1942. He was 31.
He was the son of Albert and Elizabeth Paintin and the husband of Florence M Paintin of Souldern
He is remembered on panel 66, 3 of the Chatham Naval Memorial.</p>
<!--
<h3 style="font-weight:bold" id="TOC-Additional-Information">Additional Information</h3>
<p>His name is also inscribed on the Charlton and Newbottle War
Memorial
The operation was the prevention of destructive sabotage by the French preceding the allied troop landings in Algeria. A contemporary newspaper report described the action as follows;</p>
<p>“A 53 year-old captain in the Royal Navy, who led a “suicide charge” by two small cutters at Oran in November 1942 has been awarded a posthumous VC.   He was Acting-Captain Frederick Thornton Peters, DSO, DSC, and the award, says the official citation, is given “for valour in taking HMS Walney in an enterprise of desperate hazard into the
harbour of Oran on 8 November 1942.
 “Walney” and “Hartland”, ex US Coastguard cutters, were lost in a gallant attempt to prevent the scuttling of block ships in the harbour of Oran during the landings on the North African
coast.
They had the task of ramming the boom.  Both ships broke through - a feat which was described as one of the great episodes of naval history - and although on fire penetrated to the inner harbour. Troops were landed from them at the west end of the Bassin Gueybin before the ships were sunk.
After his ship had rammed the boom, sunk a destroyer, attacked a cruiser and herself been sunk, Captain Peters was taken prisoner. He was thrown into prison in Oran by the French authorities but when the city capitulated he was released by the populace and carried through the streets shoulder-high and showered with flowers.</p>
<p>For his bravery in the action in Oran Captain Peters, who has since died in an air crash while on a special mission, was also awarded the American DSC”</p>
-->
</div>
</div>


</div>
