<div style="float:left;background-color:#eee;border:solid thin black;border-radius:1em;padding:.5em;font-weight:bold;margin-right:1em;margin-bottom:1em">
<b>Little village some admire</b><br />
    In the North of Oxfordshire<br />
Little village do you know<br />
    I lived in you some years ago?<br />
I wonder –as I cannot see–<br />
    If things are like they used to be.</div>
<p><b style="font-size:110%">There</b> can be little doubt that if the Parishioner who penned these words many years ago, dropped in on Souldern today, he would find that whilst the spine of the village remains little changed, as time has moved on the character and fabric of the community have changed considerably. Souldern retains it natural charm and beauty, and remains one of the hidden gems in the English Countryside.</p>
