
<h3 style="clear:both" id="announcements">Recent Announcements</h3>
                 

<ul class="category-list">
  {%- assign sorted = site.pages | sort: 'date'  | where_exp:"item","item.path contains 'home/announcements'" | reverse -%}
  {%- for page in sorted limit:7 -%}
  <li><a href="/{{page.path | replace: '.html', ''| replace: '.md', ''}}">{{page.title}}</a> [{{page.date}}]
    <blockquote style="background-color:lightgoldenrodyellow; border;border-radius:1em;">
    <a style="text-decorations:none; color:inherit;" href="/{{page.path | replace: '.html', ''| replace: '.md', ''}}">
      {% if page.path contains '.md' %}
      {{ page.content | markdownify| strip_html | truncatewords: 40 }}
      {% else %}
{% if page.content contains '<!--excerpt.start-->' and page.content contains '<!--excerpt.end-->' %}
	{{ ((page.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) | strip_html | truncatewords: 40 }}
{% else %}
	{{ page.content | strip_html | truncatewords: 40 }}
{% endif %}
      {% endif %}
      </a>
 <br style="clear:both"/>
</blockquote>

  </li>
  {%- endfor %}
</ul>
