---
---

@import "{{ site.theme }}";


header.page-header {
    padding-top: 0pt;
    padding-bottom: 28pt;
}

.main-content table {
    display: table;
}

html {background-color:#F7FFF0; overflow-y:scroll;}

body {max-width:95em;margin-left:auto;margin-right:auto;background-color:white;min-height:100vh;}

/* google sites remnants */

#sites-page-title-header {font-size: 200%}

td.sites-layout-tile  { border-width: 0pt ! important;}



#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}

/* divs replacing tables */

    #gsearch {
	max-width:75%; color:black; position:relative;top:-5px;left:60%
    }
    .gsc-control-cse { background-color:rgba(0,0,0,0) !important}

$imgKey: random(4);

$list: p1, bw1, souldernvillage3, sv1;
$bglist: transparent, "rgba(.5,.5,.5,.2)", transparent, transparent;
$nth: nth($list, $imgKey);
$nthbg: nth($bglist,$imgKey);



h1.project-name a { color: white;background-color: #{$nthbg};}
h1.project-name a:hover { text-decoration:none;}

@media screen and (max-width: 50em) {
    ul.flist > li   {margin-bottom:.5em;}
    table.widetable {font-size:80%; display:block;}
    table.widetable tr {display:block}
    table.widetable td {display:inline-block;width: 25%;}
    #gsearch {position:relative; left:0pt;}
}

@media screen and (min-width: 50em) {
    div.threecol > div {width: 32%;  display: inline-block; vertical-align:top; padding-left: .5em; padding-right: .5em;}
    div.twocol > div {width: 49%;  display: inline-block; vertical-align:top; padding-left: .5em; padding-right: .5em;}




    .page-header {
	background-image: url(/assets/images/#{$nth}.gif);
	background-repeat:repeat-x;
	background-size:auto 100%;
	text-align:left;
    }

    #gsearch {
	width:30em; color:black; position:absolute;top:-5px;right:10em;
	
    }

}
